@import "../../../common/app-styles/vars";

.ui.form {
  .success.message,
  .warning.message,
  .error.message {
    display: block;
  }

  .field {
    & > {
      .selection.dropdown {
        background: $color-form-input-background;

        & > .dropdown.icon {
          background: $color-form-select-button;
          margin-right: -1em;
          width: 36px;
          height: 36px;
          padding: 10px;

          & :before {
            font-size: 18px;
          }
        }
      }
    }

    .ui.input input,
    input,
    textarea {
      background: $color-form-input-background;

      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px $color-form-input-background inset;
        //-webkit-text-fill-color: red;
      }

      &[readonly] {
        background: transparent;
        border: none;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .field > label,
  .grouped.fields > label,
  .fields > label {
    color: $color-form-label;
    font-size: 1em;
  }
}


.ui.checkbox input:checked ~ .box:after,
.ui.checkbox input:checked ~ label:after {
  color: $color-primary;
}
.ui.radio.checkbox input:checked ~ .box:after,
.ui.radio.checkbox input:checked ~ label:after {
  background-color: $color-primary;
}


// todo @ANKU @LOW - убрать импорты
.formInput {
  .ui.dropdown {
    min-width: 0;
  }
  .field {
    margin-bottom: 0;
  }

  .field.error {
    .select, .ui.dropdown .item, .selection.dropdown, input {
      background: white;
    }
  }

  .formError {
    font-weight: normal;
    margin-top: 0.85em;
    margin-left: 0.5em;
    border: 0;
    padding: 0;
  }
}

.fields .formInput {
  .formError {
    font-weight: normal;
    margin-top: 0.85em;
    border: 0;
    margin-left: 0.5em;
    padding: 0;
  }
}

.ui.input {
  width: 100%;
}
