.ui.grid > .row.TwoColumnMobileRow {
  padding-top: 0;
  padding-bottom: 0.25rem;

  & > .column.TwoColumnMobileRow__left {
    display: flex;
    align-items: center;

    label {
      margin: 0;
    }

    & > * {
      flex-grow: 1;
    }
  }
}
