@import "../../../../../common/app-styles/vars";

.Breadcrumbs {
  display: flex;
  flex-wrap: wrap;

  & > * {
    text-decoration: none;
    color: $color-default-text;

    &:not(:last-child) {
      &:after {
        content: '/';
        margin: 0 0.2em;
      }
    }
  }
}
