@import "../../../../../common/app-styles/vars";
@import "../../../../../common/app-styles/mixins";

.Pagination--first.ui.menu:not(.vertical) {
  .item[type='firstItem'],
  .item[type='prevItem'] {
    @include disableLink();
  }
}

.Pagination.ui.menu {
  &:not(.vertical) {
    .item.active + .item[type='nextItem'] {
      @include disableLink();
    }
    .item.active + .item[type='nextItem'] + .item[type='lastItem'] {
      @include disableLink();
    }
  }
}

@include respond-to('xs', 'only-sm') {
  .Pagination.ui.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none;
    box-shadow: none;

    &:not(.vertical) {
      .item {
        display: none;
      }

      .item[type='prevItem'],
      .item[type='nextItem'] {
        display: flex;
        justify-content: center;
        border: 1px solid $color-border;
        width: 47.5%;
      }

      .item[type='prevItem'] {
        margin-right: 2.5%;
      }
      .item[type='nextItem'] {
        margin-left: 2.5%;
      }
    }
  }
}
