@import "../../../../../common/app-styles/vars";

.ToggledAddData {
  &__dataComponent {
    display: flex;
  }

  &__attaches {
    margin-bottom: 20px;
  }

  .DataComponent {
    &__content {
      max-width: 500px;
      width: 50%;
    }
  }
}
