@import "../../../../../common/app-styles/vars";

.DatePicker {
  .SingleDatePicker,
  .SingleDatePickerInput,
  .DateInput {
    width: 100%;
  }

  .CalendarDay__selected,
  .CalendarDay__selected:active,
  .CalendarDay__selected:hover {
    background: $color-primary;
    border-color: $color-primary;
  }

  .DayPickerKeyboardShortcuts_show__bottomRight {
    border-right-color: $color-primary;
  }

  &--readOnly {
    .SingleDatePickerInput__disabled {
      background: inherit;
      border: none;

      .DateInput__disabled {
        background: inherit;
        color: inherit;

        .DateInput_input__disabled {
          font-style: inherit;
          color: inherit;
        }
      }
    }
  }
}

.ui.form .field .DatePicker--readOnly .DateInput_input__disabled {
  opacity: 1;
}
