@import "../../../../../common/app-styles/vars";

.UniTable {
  &--definition {
    > * > tr > td:first-child:not(.ignored),
    > * > tr > tr td.definition {
      //background: #00000008;
      background: rgba($color-black, .03);
      font-weight: bold;
      //color: #000000f2;
      color: rgba($color-black, .95);
      text-transform: none;
      box-shadow: 0;
      font-size: 1em;
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }
  }

  &--scrollable {
    .UniTable__tableWrapper {
      overflow-x: auto;
    }
  }

  &__selectedTextAmount {
    margin-left: 0.2em;
  }

  &__pagination {
    width: 100%;
    justify-content: center;
  }

  .expandable {
    cursor: pointer;

    .icon {
      margin: 0;
      width: 0.9em;
    }
  }
}


// todo @ANKU @CRIT @MAIN - вынести в отдельную кнопку
.ui.button.Button {
  &--plain {
    &,
    &:hover,
    &:focus {
      color: $color-primary;
      background: transparent;
      box-shadow: none;
      border: none;
      margin: 0 5px;
      padding: 0;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
