@import "../../../../../common/app-styles/vars";

.Segment {
  &__header {
    margin: 0;
    padding: 0.5em 0;
    overflow: hidden;

    &::after {
      content:"";
      display: inline-block;
      height: 0.5em;
      vertical-align: bottom;
      width: 100%;
      margin-right: -100%;
      margin-left: $line-offset;
      border-top: 1px solid $color-line;
    }
  }
}
