@import "../../../../../common/app-styles/vars";

.Tabs {
  &__tab {

  }

  &.simple {
    &.ui.buttons {
      &:after {
        display: none;
      }

      &:not(.basic):not(.inverted) {
        // todo @ANKU @LOW - @color
        border-bottom: 1px solid #dbe2e8;
        box-shadow: inset 0 0 0 0 #dbe2e8, 0 2px 1px 0 rgba(47,61,73,.05);

        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      & > .Tab--active.ui.button:not(.basic):not(.inverted),
      &:not(.basic):not(.inverted) > .Tab--active.button {
        // todo @ANKU @LOW - @color
        box-shadow: inset 0 0 0 0 #197bbf, 0 1px 0 0 #197bbf;
      }
    }
  }
}

.Tab {
  &.ui.button {
    background: $color_white_dark;
  }

  &--active {
    &.ui.button,
    &.ui.button:hover,
    &.ui.button:focus {
      background: $color-primary;
      color: $color-white;
    }
  }
}
