@import "../../../../../common/app-styles/vars";

.ui.form .field > .SelectFix > label {
  display: block;
  margin: 0em 0em 0.28571429rem 0em;
  //color: #000000de;
  //color: $color_black;
  color: $color_form-label;
  font-size: 0.92857143em;
  font-weight: bold;
  text-transform: none;
}
